.main-title {
  text-align: center;
  font-size: 2rem;
}
.task-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.task-list__card {
  min-width: 50%;
}
.task__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 1rem;
}
.task .task__action.card-action {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.btn.change-priority__button,.btn.change-priority__button:hover, .btn.change-priority__button:focus{
    background-color: transparent;
}
